@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
:root {
  --primary-color: #000000;
  --secondary-color: #0b3d91;
  --tertiary-color: #fc3d21;
  --quaternary-color: #ffffff;
  --base-font-weight: 400;
  --high-font-weight: 800;
  --mid-font-weight: 600;
  --round-borders: 20px;
  --small-font: 2vh;
  --mid-font: 3.5vh;
  --big-font: 4vh;
  --imp-font: 4.5vh;
  --button-padding: 20px;
  --margins-side: 10px;
  --new-section-margin: 25px;
  --font-one: "DM Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-one);
  font-weight: var(--mid-font-weight);
  color: var(--quaternary-color);
  background-image: linear-gradient(to right bottom, #000000, #230f1b, #371739, #3c2662, #0b3d91);
  background-repeat: no-repeat;
}

.nav-bar {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--quaternary-color);
  padding: var(--button-padding) var(--margins-side);
}

.nav-bar ul {
  display: flex;
  list-style-type: none;
  gap: var(--margins-side);
  padding: 0;
  margin: 0;
}

.nav-bar ul li {
  margin: 0 var(--margins-side);
  font-size: var(--small-font);
}

@media (max-width: 768px) {
  .nav-bar {
    padding: var(--button-padding);
  }

  .nav-bar ul {
    display: none;
    width: 100%;
  }

  .introduction {
    font-size: 5vh;
  }

  .nav-bar ul li {
    font-size: var(--small-font);
    text-align: center;
    padding: var(--button-padding) 0;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .nav-bar ul {
    gap: 5px;
  }

  .nav-bar ul li {
    font-size: var(--small-font);
  }
}

@media (min-width: 800px) {
  header {
    padding: 100px;
    font-size: 5vh;
  }

  .introduction {
    font-size: 6vh;
  }
}

.side-spacing {
  padding: 10px var(--button-padding);
  color: var(--quaternary-color);
}

form {
  margin: 0 40px;
  font-family: "DM Sans", sans-serif;
  display: flex;
  justify-content: center;
}

fieldset {
  width: 100%;
  max-width: 300px;
  border-radius: var(--round-borders);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  margin-bottom: 100px;
}

legend {
  padding: 5px 10px;
  font-size:2.5vh;
  margin-left: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border-left: 2px solid var(--quaternary-color);
  border-right: 2px solid var(--quaternary-color);
  border-radius: 15px;
}

.form-group {
  margin: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--quaternary-color);
  border-radius: 5px;
  box-sizing: border-box;
  font-family: var(--font-one);
}

.form-group input[type="submit"] {
  display: block;
  width: 100%;
  padding: 15px 20px;
  background-color: var(--tertiary-color);
  color: var(--quaternary-color);
  border: none;
  border-radius: 10px;
  font-family: var(--font-one);
  cursor: pointer;
  transition: 0.6s linear;
}

.form-group input[type="submit"]:hover {
  background-color: var(--secondary-color);
}