@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
:root {
  --primary-color: #000000;
  --secondary-color: #0b3d91;
  --tertiary-color: #fc3d21;
  --quaternary-color: #ffffff;
  --base-font-weight: 400;
  --high-font-weight: 800;
  --mid-font-weight: 600;
  --round-borders: 20px;
  --small-font: 2vh;
  --mid-font: 3.5vh;
  --big-font: 4vh;
  --imp-font: 4.5vh;
  --button-padding: 20px;
  --margins-side: 10px;
  --new-section-margin: 25px;
  --font-one: "DM Sans", sans-serif;
}

.wrap-login100 {
  width: 360px;
  background: var(--quaternary-color);
  border-radius: var(--round-borders);
  padding: 50px 55px 37px 55px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-one);
  font-weight: var(--mid-font-weight);
}

.nav-bar {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--quaternary-color);
  padding: var(--button-padding) var(--margins-side);
}

.nav-bar ul {
  display: flex;
  list-style-type: none;
  gap: var(--margins-side);
  padding: 0;
  margin: 0;
}

.nav-bar ul li {
  margin: 0 var(--margins-side);
  font-size: var(--small-font);
}

.fa-earth-asia {
  font-size: var(--mid-font);
  padding-right: var(--margins-side);
}

@media (max-width: 768px) {
  .nav-bar {
    padding: var(--button-padding);
  }

  .nav-bar ul {
    display: none;
    width: 100%;
  }

  .nav-bar ul li {
    font-size: var(--small-font);
    text-align: center;
    padding: var(--button-padding) 0;
    width: 100%;
  }

  .fa-earth-asia {
    font-size: var(--mid-font);
  }
}

@media (max-width: 480px) {
  .nav-bar ul {
    gap: 5px;
  }

  .nav-bar ul li {
    font-size: var(--small-font);
  }

  .fa-earth-americas {
    font-size: var(--small-font);
  }
}

.side-spacing {
  padding: 10px var(--button-padding);
}

form {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 90%;
  max-width: 300px;
  margin: 0 auto;
  font-family: "DM Sans", sans-serif;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

fieldset {
  border: none;
  padding: 0;
}

legend {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

label,
input[type="text"],
input[type="password"],
input[type="submit"] {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  font-size: 1rem;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="submit"] {
  padding: 10px;
  background-color: #0b3d91;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

input[type="submit"]:hover {
  background-color: #fc3d21;
}

.login100-form-title {
  font-family: var(--font-one);
  font-size: var(--big-font);
  color: var(--primary-color);
  text-align: center;
}

.input100 {
  font-family: var(--font-one);
  font-size: var(--small-font);
  padding: 0 5px;
  color: var(--primary-color);
}

.login100-form-btn {
  font-family: var(--font-one);
  font-size: var(--mid-font);
  background-color: var(--secondary-color);
  color: var(--quaternary-color);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  border: none;
}

.login100-form-btn:hover {
  background-color: var(--tertiary-color);
}

.txt1 {
  font-family: var(--font-one);
  font-size: var(--small-font);
  color: var(--secondary-color);
}

.txt1:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .wrap-login100 {
    width: 100%;
    padding: 30px 30px;
  }

  .login100-form-title {
    font-size: var(--mid-font);
  }
}

@media (max-width: 480px) {
  .wrap-login100 {
    padding: 20px;
  }

  .login100-form-title {
    font-size: var(--small-font);
  }

  .input100 {
    font-size: var(--small-font);
  }

  .login100-form-btn {
    font-size: var(--small-font);
  }
}

p {
  font-size: 0.9rem;
  text-align: center;
}

p a {
  color: #0b3d91;
}

p a:hover {
  text-decoration: underline;
}

#model-container {
  width: 100%;
  margin-bottom: 20px;
}
